@page
@model ISV.Pages.Categories.CreateModel

@{
    ViewData["Title"] = Model.Title;
}

<h2>@Model.Title</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="Category.ParentId" class="form-control" asp-items="ViewBag.ParentId">
                    <option value="">--</option>
                </select>
            </div>
            <div class="form-group">
                <input asp-for="Category.Name" class="form-control" placeholder="Name"/>
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Category.Description" class="form-control" placeholder="Description" />
                <span asp-validation-for="Category.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
