@page
@model ISV.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Issue Viewer</h1>

<table class="table center-block">
    <tbody>
        @foreach (var item in Model.Categories)
        {
        <tr>
            <td><a asp-page="./Issues/Index" asp-route-id="@item.Id">@item.Name</a></td>
        </tr>
        }
    </tbody>
</table>
