@page
@model IssueViewer.Pages.Issues.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Issue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Issue.CategoryId" class="control-label"></label>
                <select asp-for="Issue.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Issue.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.Link" class="control-label"></label>
                <input asp-for="Issue.Link" class="form-control" />
                <span asp-validation-for="Issue.Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.RepoIdentier" class="control-label"></label>
                <input asp-for="Issue.RepoIdentier" class="form-control" />
                <span asp-validation-for="Issue.RepoIdentier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.IssueId" class="control-label"></label>
                <input asp-for="Issue.IssueId" class="form-control" />
                <span asp-validation-for="Issue.IssueId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.Title" class="control-label"></label>
                <input asp-for="Issue.Title" class="form-control" />
                <span asp-validation-for="Issue.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.IssueCreatedAt" class="control-label"></label>
                <input asp-for="Issue.IssueCreatedAt" class="form-control" />
                <span asp-validation-for="Issue.IssueCreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.IssueLastUpdatedAt" class="control-label"></label>
                <input asp-for="Issue.IssueLastUpdatedAt" class="form-control" />
                <span asp-validation-for="Issue.IssueLastUpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.IssueClosedAt" class="control-label"></label>
                <input asp-for="Issue.IssueClosedAt" class="form-control" />
                <span asp-validation-for="Issue.IssueClosedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.State" class="control-label"></label>
                <select asp-for="Issue.State" class="form-control" asp-items="ViewBag.StateId"> 
                </select>
                <span asp-validation-for="Issue.State" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Issue.Id" />
            <input type="hidden" asp-for="Issue.CreatedAt" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
